.sectionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  grid-gap: 10px;
  @media (max-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }
}